#!/bin/bash

pip install -U pip

if ! pip show httplib2 >/dev/null 2>&1
then
  pip install httplib2
else
  echo "httplib2 already installed"
fi

echo "Import extra certificates"
/usr/bin/update-ca-trust

# Dependency for virtualenvs
yum install -y https://centos7.iuscommunity.org/ius-release.rpm
yum remove -y git-core
yum remove -y python3
yum install -y gcc git2u-core
yum install -y --setopt=obsoletes=0 python36-devel

{% for version in item.awx_ansible %}
if [ ! -d "/var/lib/awx/venv/ansible-{{ version }}" ] ; then
    echo "Installing the Ansible virtual envs"
    virtualenv /var/lib/awx/venv/ansible-{{ version }}
    /var/lib/awx/venv/ansible-{{ version }}/bin/pip install python-memcached psutil httplib2 redis jmespath
    /var/lib/awx/venv/ansible-{{ version }}/bin/pip install openstacksdk shade
    /var/lib/awx/venv/ansible-{{ version }}/bin/pip install -U "ansible == {{ version }}"
fi
{% endfor %}

/tini -s -- /bin/sh -c /usr/bin/launch_awx_task.sh $@
